/* ==========================
   PAGE
========================== */

.classes-page{
    padding:10px 20px;
}


.classes-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:18px;

    margin-top:15px;

}



/* ==========================
   CARD
========================== */


.class-card{

    background:#fff;

    border-radius:18px;

    padding:18px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

    border:1px solid #eef2f3;

}


.class-card:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 30px rgba(0,0,0,.12);

}




/* ==========================
   TOP
========================== */


.card-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:12px;

}



.subject-icon{

    width:42px;

    height:42px;

    border-radius:12px;

    background:#E9F7F2;

    color:#0d4d3d;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:18px;

}



.card-top span{

    padding:5px 12px;

    border-radius:20px;

    font-size:11px;

    font-weight:700;

}



.active{

    background:#DDF8E8;

    color:#14854B;

}



.upcoming{

    background:#FFF3CD;

    color:#856404;

}




/* ==========================
   TITLE
========================== */


.class-card h2{

    color:#0d4d3d;

    font-size:19px;

    margin:8px 0;

}



.class-card p{

    color:#666;

    font-size:13px;

    margin-bottom:12px;

}




/* ==========================
   INFO
========================== */


.info{

    display:flex;

    flex-direction:column;

    gap:8px;

    margin-bottom:15px;

}



.info span{

    display:flex;

    align-items:center;

    gap:8px;

    color:#444;

    font-size:13px;

}



.info svg{

    color:#0d4d3d;

}





/* ==========================
   BUTTON
========================== */


.take-btn{

    width:100%;

    height:38px;

    border:none;

    border-radius:10px;

    background:#0d4d3d;

    color:white;

    font-size:13px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}



.take-btn:hover{

    background:#0b3d31;

}




/* ==========================
   RESPONSIVE
========================== */


@media(max-width:1100px){

.classes-grid{

grid-template-columns:repeat(2,1fr);

}

}



@media(max-width:768px){


.classes-grid{

grid-template-columns:1fr;

}


.class-card{

padding:15px;

}


}