.attendance-page{

display:flex;
justify-content:center;
padding:40px;

}

.attendance-card{

width:500px;
background:white;

padding:30px;

border-radius:25px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.attendance-card h1{

text-align:center;

margin-bottom:25px;

color:#335C43;

}

.attendance-card select{

width:100%;

padding:14px;

border-radius:12px;

border:2px solid #335C43;

font-size:16px;

margin-bottom:30px;

outline:none;

}

.chart-box{

width:320px;

margin:auto;

}

.details{

margin-top:30px;

background:#F7FAF7;

padding:20px;

border-radius:18px;

}

.details p{

margin:12px 0;

font-size:17px;

color:#444;

}

.details strong{

color:#335C43;

}