.timetable-page{
    padding:30px;
}

.table-header{
    margin-bottom:25px;
}

.table-header h1{
    color:#335C43;
    font-size:34px;
    margin-bottom:8px;
}

.table-header p{
    color:#777;
    font-size:16px;
}

.table-container{
    background:white;
    border-radius:25px;
    overflow-x:auto;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    padding:25px;
}

table{
    width:100%;
    min-width:1100px;
    border-collapse:collapse;
}

th{
    background:#335C43;
    color:white;
    padding:18px;
    font-size:15px;
}

td{
    padding:18px;
    border:1px solid #e7e7e7;
    text-align:center;
    transition:.3s;
}

tbody tr:nth-child(even){
    background:#fafafa;
}

tbody tr:hover{
    background:#EEF8F0;
}

.day{
    background:#4F7C59;
    color:white;
    font-weight:600;
}

.lunch{
    background:#FFE9A8;
    color:#795300;
    font-weight:600;
}

@media(max-width:900px){

.table-container{
    overflow-x:auto;
}

}