.cards{
    display:grid;

    grid-template-columns:repeat(5, 1fr);

    gap:16px;

    margin:30px 25px;
}

.card{
    border-radius:18px;
    padding:16px;
    min-height:200px;
    box-shadow:0 12px 35px rgba(0,0,0,.08);
    display:flex;
    flex-direction:column;
    gap:16px;
    transition:all .35s ease;
    cursor:pointer;
    position:relative;
    overflow:hidden;
}

.card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:5px;
    background:var(--card-color);
}

.card:hover{
    transform:translateY(-8px) scale(1.02);
    box-shadow:0 22px 45px rgba(0,0,0,.12);
}

.card-icon{
    width:50px;
    height:50px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    color:white;
    transition:.35s;
}

.card h3{
    font-size:18px;
    color:#2E3A2F;
    font-weight:700;
}
.card p{
    color:#6B7280;
    font-size:13px;
    line-height:1.5;
}

.card button{
    width:100%;
    padding:13px;

    border:none;
    border-radius:14px;

    background:var(--card-color);
    color:white;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    margin-top:auto;

    transition:.3s;
}

.card button:hover{
    transform:translateY(-2px);
    filter:brightness(1.08);
}
@media (max-width:1200px){

    .cards{
        grid-template-columns:repeat(3,1fr);
    }

}
@media (max-width:768px){

    .cards{
        grid-template-columns:1fr;
    }

}

.card:hover .card-icon{
    transform:rotate(-8deg) scale(1.08);
    transition:.35s;
}