.quick-stats{
    margin:25px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.stat-card{
    background:white;
    border-radius:22px;
    padding:25px;
    display:flex;
    align-items:center;
    gap:18px;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-6px);
}

.stat-icon{
    width:65px;
    height:65px;
    border-radius:18px;
    background:linear-gradient(135deg,#7B2FF7,#A855F7);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.stat-card h2{
    font-size:28px;
    color:#222;
}

.stat-card p{
    color:#777;
    margin-top:6px;
}

@media(max-width:900px){
    .quick-stats{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){
    .quick-stats{
        grid-template-columns:1fr;
    }
}