.quick-stats{
    margin:25px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.quick-card{
    background:#fff;
    border-radius:22px;
    padding:25px;

    display:flex;
    align-items:center;
    gap:18px;

    box-shadow:0 12px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.quick-card:hover{
    transform:translateY(-6px);
}

.quick-icon{
    width:65px;
    height:65px;

    border-radius:18px;

    background:linear-gradient(135deg,#7B2FF7,#A855F7);

    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:28px;
}

.quick-card h2{
    font-size:28px;
    color:#222;
    margin:0;
}

.quick-card p{
    margin-top:6px;
    color:#777;
}

@media(max-width:900px){
    .quick-stats{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){
    .quick-stats{
        grid-template-columns:1fr;
    }
}